command=$SCRIPT_DIR/$BLOCK_NAME
separator_block_width=15
markup=none

###############################################################################

[speedtest]
command=$SCRIPT_DIR/speedtest
interval=300


[disk]
command=$SCRIPT_DIR/disk
interval=10


[ram]
command=$SCRIPT_DIR/ram
interval=10


[cpu_usage]
command=$SCRIPT_DIR/cpu
interval=10


[battery]
command=$SCRIPT_DIR/battery
interval=30

[time]
command=date '+%d-%m %H:%M:%S'
interval=5

[temperature]
command=$SCRIPT_DIR/temperature
interval=10

[volume]
command=$SCRIPT_DIR/volume
interval=10
signal=10
